<nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Procena/Nekretnine</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Pocetna</a>
                <a class="nav-link" href="/flats">Moje nekretnine</a>
                <a class="nav-link" href="/flats/new">Nova nekretnina</a>
                <a class="nav-link" href="/apts">Trziste</a>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(!currentUser) {%>
                    <a class="nav-link" href="/login">Prijava</a>
                    <a class="nav-link" href="/register">Registracija</a>
                    <% } else {%>
                        <a class="nav-link" href="/logout">Odjava</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>