html {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
 }

#map {
    width: 100%;
    height: 400px;
    border-radius: 0.8rem;
}

.index-map {
    border-radius: 0.8rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: solid rgb(226, 226, 226) 1px;
}

.dashboard {
    justify-content: space-between;
}

.links{
    position: relative;
}
.link{
    margin-bottom: 2rem;
}

.link a, .dashboard a {
    text-decoration: none;
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(0,0,0,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.link a:hover, .dashboard a:hover {
    text-decoration: none;
    color: rgba(0,0,0,0.5);
    border-bottom-color:rgba(0,0,0,0.5);
}

.link a.active,  .dashboard a:hover  {
    text-decoration: none;
    color: black;
    border-bottom-color:black;
}

.map-popup-link, .map-popup-link:hover, .map-popup-link:active {
    text-decoration: none;
    color: rgba(0,0,0);
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background: linear-gradient(to right top, #53575c, #3c4045 );  */
    background: -webkit-gradient(linear, left bottom, right top, from(#aab1b5), to(#858b8f)) fixed;
    /* border: 5px solid red; */
}
.glass {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3) );
    border-radius: 0.7rem;
    z-index: 2;
    backdrop-filter: blur(1.5rem);
    margin-bottom: 35px;
}

.oval1,.oval2, .oval3,.oval4  {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2) );
    position: fixed;
    z-index: 0;

}

.oval1 {
top: 50px;
right: 15%;
border-radius: 2.5rem;
height: 17rem;
width: 17rem;
}
.oval2 {
top: 500px;
left: 10%;
border-radius: 2.5rem;
height: 17rem;
width: 17rem;
}
.oval3 {
    top: 100px;
    height: 7rem;
    width: 7rem;
    left: 10%;
    border-radius: 1.5rem;
    }
.oval4 {
top: 600px;
height: 4rem;
width: 4rem;
right: 15%;
border-radius: 0.5rem;
}


.sidebar {
    flex: 1;
    display: flex;
    border-radius: 0.7rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3) );
    margin: 0;
    color:rgba(0, 0, 0, 0.8);
}

.avatar{
    height: 5rem;
    width: 5rem;
}

/* PROPERTIES */
.property {
    flex: 2;
    margin: 4rem;
    color:rgba(21, 14, 47, 0.8);
}

.properties {
    flex: 2;
    justify-content: flex-start;
    margin: 4rem;
    color:rgba(21, 14, 47, 0.8);

}

.status {
    margin-bottom: 3rem;
}

.status h1 {
    font-weight: 700;
}

.status #filter, .dashboard #filter  {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border: none;
    border-radius: 2rem;
    width: 70%;
    padding-left: 0.8rem;
}

.cards {
    align-items: center;
}
.card {
    background: linear-gradient(to left top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8));
    width: 100%;
    box-shadow: 6px 6px 20px rgba(50, 50, 50, 0.2);
    border: none;
}
.card:hover {
    box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.4s;
}

.property .card {
    margin: 0;
}

.card-body {
    justify-content: flex-end;
    align-items: flex-start;
}

.form-control {
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
    border: none;
    box-shadow: 4px 4px 20px rgba(50, 50, 50, 0.2);
}


/* APTS */

#apt-img-div {
    max-width: 100%;
    height: 13rem;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1.5rem;

}

#apt-img {
    width: 100%;
    height: 100%;
    display: block; 
    border-radius: 0.5rem;
}

.house-svg {
    height: 2rem;
}
.houses-svg {
    height: 2.5rem;
}